<div class="menu-sidebar-content js-scrollbar1">
    <nav class="navbar-sidebar">
        <ul class="list-unstyled navbar-list">
            <li>
                <!-- the routerLink="/category/1" here is the category id from the products table in DB
          also routerLinkActive="active-line" it's just the CSS file  -->
                <a routerLink="/category/1/Books" routerLinkActive="active-line">Books</a>
            </li>
            <li>
                <a routerLink="/category/2/Coffee Mugs" routerLinkActive="active-line">Coffee Mugs</a>
            </li>
            <li>
                <a routerLink="/category/3/Mouse Pads" routerLinkActive="active-line">Mouse Pads</a>
            </li>
            <li>
                <a routerLink="/category/4/Luggage Tags" routerLinkActive="active-line">Luggage Tags</a>
            </li>

        </ul>
    </nav>
</div>